.main-container {
    display: grid;
    height: 100vh;
    border: 20px;
    grid-template-columns: 2fr 7fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
}

#grid-container {
    background-color: rgb(224, 220, 220);
    display: grid;
    height: 600px;
    width: 600px;
    justify-self: center;
    align-self: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.options {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.filler, .header{
    justify-self: center;
    align-self: center;
    padding: 10px;
}

.square {
    background-color: white;
    border-color:#aca9a9;
    border-width: 1px;
    border-style: solid;
}